<h1>Show Addresses</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @address.cep %>
  </li>

  <li>
    <strong>Age:</strong>
    <%= @teacher.age %>
  </li>
 
  <li>
    <strong>ID:</strong>
    <%= @teacher.id %>
  </li>

</ul>

<span><%= link "Back", to: Routes.page_path(@conn, :index) %></span>
